@model URL_Shortner_Challenge.Models.ShortLink

@{
    ViewData["Title"] = "Expired Link";
}
<div>
    <h4>This link is not valid</h4>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Home page</a>
</div>
