@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<div class="row mb-2">
    <div class="col-md-6">
        <div card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <h1 class="display-4">Temporary links</h1>
                <p class="lead my-3">
                    Any user can make a link with no account!
                </p>
                <p class="lead my-3">
                    The links made will work for a 1-year period before expiring.
                </p>
                <p class="lead my-3">
                    Just enter the URL you want to shorten on the bar on the home page then the new one will be generated for you to copy and paste.
                </p>
                <p class="lead my-3">
                    If you get an error it is because your link does not lead to a valid webpage. You may have copied the link incorrectly.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <h1 class="display-4">Permanent links</h1>
                <p class="lead my-3">
                    When you register an account, all of your links are permanent and can be seen from your Links page.
                </p>
                <p class="lead my-3">
                    You can create a new link from the home page or the Links page.
                </p>
                <p class="lead my-3">
                    When logged in you can also search for the site you linked.
                </p>
            </div>

        </div>
    </div>
</div>
